@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root .mainPage{
  flex-grow: 1;
}

#root .sectionForm{
  width: 100%;
}

.formGroup{
  width: 100%;
  background: #E3F2FD;
}

.containerColor{
  width: 150px;
  height: 150px;
}

.formGroup .inputColor{
  width: 100%;
}

.btnGuardar{
  background: #2296F3;
}

.btnGuardar:hover{
  background: #1272c0;
}

.containerCards{
  max-width: 900px;
}

.cardColor{
  width: 250px;
  height: 300px;
}

.containerCardColor{
  width: 120px;
  height: 100px;
}

.btnBorrar{
  background: #FF3822;
}

.btnBorrar:hover{
  background: #db210c;
}

@media all and (min-width:768px){
  #root .sectionForm{
    width: 600px;
  }

  .formGroup .inputColor{
    width: 500px;
  }
}

