#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
}

#root .mainPage{
  flex-grow: 1;
}

.sectionForm{
  max-width: 800px;
  min-height: 400px;
}

.formGroup{
  background: #E3F2FD;
}

.containerColor{
  width: 150px;
  height: 150px;
}

.btnGuardar{
  background: #2296F3;
}

.btnGuardar:hover{
  background: #1272c0;
}

.containerCards{
  max-width: 900px;
}

.cardColor{
  width: 250px;
  height: 300px;
}

.containerCardColor{
  width: 120px;
  height: 100px;
}

.btnBorrar{
  background: #FF3822;
}

.btnBorrar:hover{
  background: #db210c;
}

@media all and (min-width:768px){
  .inputColor{
    width: 400px;
  }
}

